li {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.profile {
  width: 450px;
  height: 500px;
  border: 1px solid #7d7a7e;
  border-radius: 15px;
  padding: 30px 0 30px 0;
  background-color: #fcfaf9;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.description {
  text-align: center;
}
.name {
  margin-top: 35px;
  font-size: 20px;
}
.tag {
  font-size: 15px;
  color: #6c6c6c;
}
.location {
  font-size: 15px;
  color: #6c6c6c;
}
.stats {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #f3eef3;
  /* padding: 38px; */
  padding: 56px;
  border-radius: 13px;
  margin: 100px 0 0;
}
.avatar {
  border-radius: 50%;
  background-color: #ebccfd;
}
.label {
  color: #494548;
  margin-right: 5px;
}
